Q1. Create one variable containing following type of data:

Solution:

In [1]:
# (i) String
a = "Riya"

In [2]:
print(a)

Riya

In [3]:
print(type(a))

<class 'str'>

In [4]:
# (ii) list
l = [23,24.6,"string",True,3+4j]
print(l)
print(type(l))

[23, 24.6, 'string', True, (3+4j)]
<class 'list'>

In [5]:
# (iii) float
f = 23.56
print(f)
print(type(f))

23.56
<class 'float'>

In [6]:
# (iv) tuple
t = (23,24.6,"string",True,3+4j)
print(t)
print(type(t))

(23, 24.6, 'string', True, (3+4j))
<class 'tuple'>

Q.2 Given are some following variables containing data.What will be the data type of given variable.

Solution:

In [7]:
# (i) var1 = ''
var1 = ''
print(type(var1))

<class 'str'>

In [8]:
# (ii) var2 = '[DS,ML,Python]'
var2 ='[DS,ML,Python]'
print(type(var2))

<class 'str'>

In [9]:
# (iii) var3 = ['DS','ML','Python']
var3 = ['DS','ML','Python']
print(type(var3))

<class 'list'>

In [10]:
# (iv) var4 = 1
var4 = 1
print(type(var4))

<class 'int'>

Q 3. Explain the use of the following operators using an example:

Solution:

In [11]:
# (i) /
# Ans : this is an airthmetic opertator use to divide one numerical value from another.
# Example:
35/4

8.75

In [12]:
# (ii) %
# Ans : this is an airthmetic operator which is used when u want to get the remainder as an output after 
# dividing one numerical value from another
# Example:
35%4

3

In [13]:
# (iii) //
# Ans :this ia an airthmetic operator which gives floor value of an output of division method.
# Example:
35//4

8

In [14]:
# (iv) **
# Ans : this is an airthmetic operation which gives output of an exponential method ex : 2 ** 3 = 2*2*2
# Example:
2**3

8

Q.4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

Solution:

In [15]:
L1 = [23,34,45,65.6,"Riya","pwskilss","Data Science",True,3+4j,5+7j]
for i in L1:
    print(i)
    print(type(i))

23
<class 'int'>
34
<class 'int'>
45
<class 'int'>
65.6
<class 'float'>
Riya
<class 'str'>
pwskilss
<class 'str'>
Data Science
<class 'str'>
True
<class 'bool'>
(3+4j)
<class 'complex'>
(5+7j)
<class 'complex'>

Q.5. Using a while loop,verify if the number A is purely divisible by number 8 and if so then how many times it can be divisible.

In [17]:
A = int(input("Enter a number : "))
b = 8
L = []
while A%b == 0:
    print("A is divisble by 8")
    A = A/b
    L = L + [A]
print(L)
print("Number of times A is divisible is: ",len(L))

Enter a number :  32

A is divisble by 8
[4.0]
Number of times A is divisible is:  1

Q.6 Create a list containing 25 int type data. Using for loop and if else condition print if the element is divisible by 3 or not

Solution

In [18]:
L = list(range(1,26))

In [19]:
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [20]:
for i in L:
    if i%3 == 0:
        print(i," is divisible by 3 ")
    else :
        print(i, " is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q.7 What do you understand by mutable and immutable data types? Give example for both showing this property.

Solution

In [21]:
# Mutable data type :

In [29]:
# Ans : Mutable data types are those objects which can be changed after they are created through assigning any value. for example : list

In [30]:
L = [23,45,43.3,"Riya",True]

In [31]:
L

[23, 45, 43.3, 'Riya', True]

In [32]:
L[3] = "pwskills"

In [33]:
L

[23, 45, 43.3, 'pwskills', True]

In [34]:
# immutable data type:

In [35]:
# Ans : Immutable data types are those objects which can not be changet after their creation on particular index through assigning any value

In [36]:
s = "Riya"

In [37]:
s[1] = 'r'

TypeError: 'str' object does not support item assignment